body {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100vh; /* Define altura da tela inteira */
    font-family: Arial, sans-serif;
    flex-direction: column;
    background-color: #f0f0f0;
    margin-left: 90px;
 
   
}

ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0;
}

li {
    margin: 10px 0; 
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
}

a:hover {
    color: #0056b3; 
}
section li
{
   

    margin: 50px;
    list-style: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: rgba(80, 179, 255, 0.493);
    padding-top: 80px;
    padding-right: 90px;

    
}   


